# https://aistudio.google.com/api-keys
GEMINI_API_KEY=
SUPABASE_URL=https://sbxlfgdwogpdondzyvia.supabase.co
SUPABASE_JDBC_URL=jdbc:postgresql://db.sbxlfgdwogpdondzyvia.supabase.co:5432/postgres?sslmode=require
SUPABASE_DB_USER=postgres
SUPABASE_DB_PASSWORD=your_database_password
SUPABASE_CHAT_TABLE=chats
